[Desktop Entry]
Name=Shutdown
Comment=Shutdown the system after confirmation
Exec=sh -c 'GTK_ICON_THEME=Qogir-Dark zenity --question --title="Confirm Shutdown" --text="Are you sure you want to shut down?" --ok-label="Yes" --cancel-label="No" --window-icon=system-shutdown && systemctl poweroff'
Icon=system-shutdown
Terminal=false
Type=Application
Categories=System;
